
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Responsive Webpage sample</title>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="{{ url_for ('static', filename='style.css')}}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">


<style >
table {
    width:100%;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}
</style>


</head>

<body class="body">

	<header class="mainHeader">
		<nav><ul>
			<li class="active"><a href='/index'>Home</a></li>
			<li><a href='/'>Logout</a></li>


		</ul></nav>
	</header>

	<div class="mainContent">

	   <div class="content">


<br>

<table id="t01">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Points</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
</table>




	    </div>
     </div>



	<footer class="mainFooter">
		<p>Copyright &copy; 2013 <a href="#">Game inc</a></p>
	</footer>

</body>
</html>
