<!doctype html>
<html>
<header>
    <title>Login</title>
</header>
<body>

    <form id="register_form" method="POST" action="/register">
        <p>Name: </p>
        <input type="text" id="reg_name" name="reg_name" />
        <p>Username: </p>
        <input type="text" id="reg_username" name="reg_username" />
        <p>Password: </p>
        <input type="password" id="reg_password" name="reg_password" />

        <button>
            Register
        </button>
    </form>
    <p></p>
    <hr/>


</body>
</html>
